*{
    padding:0;
    margin:0;
    box-sizing:border-box
}

body{
    font-family: 'Exo 2';
    background-image: url('../img/bg-img.png');
    color:#c5c6c7;
}

a{
    text-decoration: none;

}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul{
    padding: 0;
    margin: 0;
}

header a{
    color:#45a29e;
}

.container{
    width: 960px;
    margin: 0 auto;
}

header{
    width: 100%;
    display: flex;
    
    margin-top:20px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}
.header__logo{
    margin-right:auto;
}

menu{
    margin-left: auto;
}

.icon{
    background-image: url('../img/GM-logo.png');
    background-size: 70px 70px;
    width:70px;
    height:70px;
}

.brand{
    width:70px;
    height:70px;
}

.menu{
    display:flex;
}

.menu li{
    margin-left: 40px;
}

.menu li a{
    text-decoration: none;
    font-size: 16px;
}

.about{
    margin-top:30px;
}

.description{
    display: flex;
    justify-content: space-between;
    color:#c5c6c7;
    margin-top:0px;
    font-size: 14px;
}

.description__item{
    width:450px;
}

.rooms {
    margin-top:50px;
}

.modal-bg{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content:center;
    align-items: center;
    transition: visibility 0s opacity 0,5s;
    visibility: hidden;
    opacity: 0;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    background-color: #fff;
    width:30%;
    height:20%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}

.modal button{
    padding: 10px 30px;
    background-color: rgba(0,0,0,0.3);

    border:none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

a{
    display: block;
    height:100%;
}

.room__items{
    display:flex;
    justify-content: space-between;

}

.room__item {
    width:315px;
    height:215px;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    opacity:0.8;
}

.room__item:hover {
    opacity:1;
    transition: opacity 1s;
}

.trash {
    background-image:url('../img/trash.png');
    background-size:cover;
    background-repeat: no-repeat;
}

.geniuses {
    background-image:url('../img/geniuses.png');
    background-size:cover;
    background-repeat: no-repeat;
}

.footer{
    margin-top:70px;
    border-top:rgba(94, 250, 242, 0.4) solid 1px;
    font-size:12px;
    line-height: 18px
}

.footer__content{
    color:#c5c6c7;
    display: flex;
    justify-content: space-between;
    border-top: rgba(69, 162, 158, 0.4) solid 1px;
    padding-top:30px;
}

.footer__contacts{
    width:72px;
}



.player{
    margin-top:20px;
    width:350px;
}

#oscilloscope{
    background:transparent;
    margin:0;
  }
  
.statusbar {
    background-color:#45a29e;
    width:350px;
    height:10px;
    margin:0;
  }
  
.statusbar__filler {
    width:0%;
    height:100%;
    background-color:#66fcf1;
}

.modal__drop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
    opacity:0.6;
}

.modal__auth{
    position: fixed;
    left:50%;
    margin-left:-240px;
    width:460px;
    background-color:#1f2833;
    opacity: 0.8;
    top:20%;
    z-index:1050;
    border-radius:25px;
    -moz-box-shadow:0 0 7px rgb(44, 152, 185);
    -webkit-box-shadow:0 0 7px rgb(60, 239, 245);
    box-shadow:0 0 7px rgb(54, 187, 240);
}

.modal__header{
    margin:auto;
    width:95%;
    line-height:35px;
    padding:10px;
    border-bottom:1px solid rgba(44,152,185, 0.9);
    font-size:24px;
    font-weight: bold;
}

.modal__body{
    margin:auto;
    width:95%;
    line-height:35px;
    padding:10px;
    border-top:1px solid rgba(60,239,245, 0.9);
    border-bottom:1px solid rgba(44,152,185, 0.9);
}

.modal__footer{
    display: flex;
    justify-content: space-between;
    margin:auto;
    width:95%;
    line-height:50px;
    padding:10px;
    padding-top:20px;
    padding-bottom:20px;
    border-top:1px solid rgba(60,239,245, 0.9)
}

input[type=text], textarea, select, button {
    -webkit-appearance: none;
    border:none;
    background:none;
    outline:none;
}

.input__nickname{
    background-color:#1f2833 ;
    color:#c5c6c7;
    border-radius:5px;
    -moz-box-shadow:0 0 2px rgba(44, 152, 185, 0.5);
    -webkit-box-shadow:0 0 2px rgba(60, 239, 245, 0.5);
    box-shadow:0 0 2px rgba(132, 220, 255, 0.5);
    height:27px;
    font-family: 'Exo 2';
    font-size:14px;
    width:200px;
    padding-left:7px;
}

.input__nickname:hover{
    -moz-box-shadow:0 0 3px rgba(44, 152, 185, 0.7);
    -webkit-box-shadow:0 0 3px rgba(60, 239, 245, 0.7);
    box-shadow:0 0 3px rgba(132, 220, 255, 0.7);
    transition: 1s;
}

.input__nickname:focus{
    -moz-box-shadow:0 0 5px rgba(44, 152, 185, 0.9);
    -webkit-box-shadow:0 0 5px rgba(60, 239, 245, 0.9);
    box-shadow:0 0 5px rgba(132, 220, 255, 0.9);
    transition: 1s;
}

.submit__nickname-button{
    background-color:#1f2833 ;
    color:#c5c6c7;
    border-radius:5px;
    height:30px;
    width:60px;
    font-family: 'Exo 2';
    font-size:14px;
    border:#0b0c10 1px solid;
}

.submit__nickname-button:hover{
    -moz-box-shadow:0 0 3px rgba(44, 152, 185, 0.7);
    -webkit-box-shadow:0 0 3px rgba(60, 239, 245, 0.7);
    box-shadow:0 0 3px rgba(132, 220, 255, 0.7);
    transition: 1s;
}

.submit__nickname-button:active{
    -moz-box-shadow:0 0 5px rgba(44, 152, 185, 0.9);
    -webkit-box-shadow:0 0 5px rgba(60, 239, 245, 0.9);
    box-shadow:0 0 5px rgba(132, 220, 255, 0.9);
    transition: 1s;
}

.room__status{
    display:flex;
    width:350px;
    justify-content: center;
}

#feedback{
    color:rgba(132, 220, 255, 1);
    margin:auto;
    margin-bottom:5px;
    width:300px;
}